RAPID_API_KEY=
RAPID_API_HOST=twelve-data1.p.rapidapi.com
DATABASE_URL=cockroachdb://root@database:26257/defaultdb?sslmode=disable
RABBITMQ_URL=amqp://guest:guest@broker:5672/
MESSAGING_URL=http://messaging:8001
MESSAGING_ROUTE=messaging
messaging-service
