BROKER_URL=amqp://guest:guest@broker:5672/
RESULTS_URL=rpc://broker
BACKEND_URL=http://backend:8000
MARKET_PRICES=market-prices
ALERTS_ROUTE=alerts
ALERT_RULES_ROUTE= alert-rules
MESSAGING_ROUTE=messaging
